*,*::after,*::before{
    box-sizing: border-box;
    
}
.game{
    width: 100vw;
    height: 100vh;
}   
.boards-wrapper{
    width:80vw;
    display: flex;
    justify-content: space-around;
}
.gameboard{
    outline: 2px solid red;
    height: 250px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}
.game-square{
    height: 25px;
    width: 25px;
    outline: 2px solid red;
}
.ship--afloat{
    background-color: blue;
}
.ship--sunk{
    background-color: red;;
}

