@use "../abstracts" as *;
.attr{
  margin: 2rem auto;
  a{
    color:lime;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  #tips {
    // outline: solid 1px red;
    // border: solid 1px blue;
    padding-left: 2rem;
    width: 30rem;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
    #helperText {
      font-size:2rem;

      // width: auto;
    }
  }
  @include laptopScreen {
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem 0 0;
    max-width: 120rem;
    width: 100%;
    align-self: center;
    
    #tips{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        text-align: center;
    }
  }
}
#restart{
  margin-top:15rem;
  font-size:2.5rem;
}
