header {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    z-index: 100;
    text-align: center;
  }
  
}
