.setup {
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
  }

  .main-setup-wrap {
    display: flex;
    justify-content: space-around;

    .dockyard {
      width: 50%;
      display: flex;
      height: 330px;
      margin-left: 5rem;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding: 1rem;
      border:  1px solid lime ;
      .ship {
        margin: 1rem;
      }
      .ship-container {
        span {
          font-size: 2rem;
          padding-right: 1rem;
        }
      }

      .gameboard-setup {
        width: 50%;
      }
    }
  }

  .tips {
    display: flex;
    flex-direction: column;
    margin:  auto ;
    height: 20rem;
    position: relative;
    width: 420px;
    // overflow: hidden;
    pre {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      // transform: translateX(50%);
      width: 420px;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .options {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    // min-width: 30rem
    width: 80%;
    max-width: 100rem;
    .setup-option {
      background-color: inherit;
      color: inherit;
      font-family: joystix;
      font-size: 1.8rem;
      transition: all 0.2s ease-in;
      &:hover {
        cursor: pointer;
        color: #f83b3a;
      }
    }
  }
}
