
.game-square {
    border: 1px solid white;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease 0s;
  }

  .afloat{
      background-color: lime!important;
  }
  .dev{
    .unplaceable{
      background-color: yellow;
    }
  }
  .ship-hit{
      background-color: cyan;
  }
  .ship-afloat{
      background-color: beige;
  }
  .empty-hit{
      background-color: red;
  }
  .empty{
    background-color: rgb(25,25,25);
  }
  #copmuter--board{

  }
  #human--board{

  }
  .ship {
    height: 30px;
    width: fit-content;
    display: flex;
    background-color: red;
    // z-index: 100;
    &-vertical{
    height: fit-content;
    width: 30px;
    flex-direction: column;
    }
    .ship-part {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        background-color: lime;
        // border: 4px solid rgb(1, 169, 1);
    }

}